

.diagram-component {
  width: 400px;
  height: 400px;
  border: solid 1px black;
  background-color: white;
}
.nbar {

    font-family: arial;
    margin-left: 50px;
    letter-spacing: 5px;
    width: 100%;
}

.nav-links {
  /* margin-top: -20px; */
  color: white;

    font: italic 200% arial, sans-serif;
    letter-spacing: -2px;


}
body.dark .nav-links{
  color:black;
}

.nav-links:hover {
  text-decoration: underline;
  border-radius: 4px;
  color:white;
  /* transition:  0.2s ease-in-out; */


}
.nbar-logo {
  font-family: arial;
  text-decoration: none;
    margin-left: 55px;
    letter-spacing: 5px;
    width: 100%;



}
.nav-link {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  cursor:pointer;
}


/* :root {
  --blue: rgb(26, 57, 87);
  --white: rgb(236, 236, 236);
}  */




.App {
  /* background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight); */

  height: auto;
  text-align: center;
}

/* body.dark {
--background-color: var(--blue);
--text-color: var(--white);




} */
body.dark{
  /* background-color: rgb(26, 57, 87); */
  background:black;
  color: rgb(236, 236, 236);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}


body.light {
background-color: rgb(236, 236, 236);
color: rgb(26, 57, 87);
transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
font-weight: 400;


}

.darkModeIcon {

  font-size: 20px;

}

.sun{
color: yellow;
}


.moon {
  color: grey;
}
.sideR{
  background: black;
width: 280px;
display: flex;
justify-content: right;
position: absolute;
margin-top: -15px;
margin-left: 2300px;
/* float:right; */
z-index:3;




}
body.dark .sideR{
  background:white;
}

.sideL{
  background: black;
  width: 280px;
}

body.dark .sideL{
  background:white;
}
.sideR_content{
  display: flex;
color: white;
justify-content: space-between;
align-items: center;
padding: 20px;
list-style: none;
font-size: 18px;
height: 60px;
text-decoration: none;
}
body.dark .sideR_content{
  color:black;
}

.sideL_content{
  display: flex;
color: white;
justify-content: space-between;
align-items: center;
padding: 20px;
list-style: none;
font-size: 18px;
height: 60px;
text-decoration: none;
}

body.dark .sideL_content{
  color:black;
}
.RIcon{
  margin-left: 2550px;
  margin-top:-65px;
  font-size: 2rem;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  color:white;
}
body.dark .RIcon{
  color:black;
}

.LIcon{
  margin-left: 2rem;
  font-size: 2rem;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top:-75px;
  color:white;
}

body.dark .LIcon{
  color:black;
}


.nav{
  width: 100%;
  height: 60px;
  padding-top: 15px;
  text-align: center;
  margin: 0;
  background: black;
  border-radius: 15px 15px 15px 15px;
  border: 1px solid #0096D4;
align-items: center;
border-radius: 5px;
display: flex;
z-index:1;
transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}
body.dark .nav{
  background:white;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.site_heading{
  font: bold 175% arial, sans-serif;
  color: #E91741;
  /* margin-top: 50px; */


}

.click{
  width: 100px;
  height: 30px;
  background:white;
}

.icon{
  font-size: 50px;
}

/* Team Box  */


.box {
  background:   -webkit-linear-gradient(#5E5757, #F63039);
  border-radius: 5px;
  color:white;
  padding: 0px;
  height: 190px;
  width: 280px;
  /* box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3); */
 margin-top:100px;
  transition: 0.3s;
  
  
}

body.dark .box{
  background:white;
}
.box:hover {
  
  background: white;
  border-radius: 5px;
 
  /* transition: ease-in-out 0.3s; */
  height: 190px;
  width: 280px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  
  
  
}
.box:hover .name{
  color:black;
  display:block;
}
.box:hover .img-box{
  
/* margin-top:-50px; */
position:relative;
box-shadow: 0 8px 8px 8px white;
/* transition: background 0.3s ease-in-out, color 0.3s ease-in-out; */
}
body.dark .box:hover{
  box-shadow: 0 3px 5px 2px white;
}

.img-box {
  height: 190px;
  width: 180px;
  top:-80px;
  object-fit: cover;
  border-radius: 90px;
  /* border: 1px solid black;  */
  /* box-shadow: 0 3px 5px 2px rgba(255, 142, 164, 0.3); */
  
  background-color: white;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  transition:0.8s;
  
  
}

.prof-container {
  margin: 10px;
  /* width: fit-content; */
  /* padding-top: 80px; */
  position:relative;
  z-index:auto;
  display:inline-block;
  height:100px;
  
  
  
}

.name{
  margin-top: -70px;
  font-size: 23px;
  /* font-size: x-large; */
  text-transform: uppercase;
  display:none;
 
  
  
}

.des {
  margin-top: -24px;
  font-size: 20px;
  text-transform: uppercase;
  display:none;
  
  
}




