
#darkMode {
    background-color: black;
    background-size: 30px 30px;
    margin-right: 80px;
    margin-bottom: 10px;
    width: 100px;
    height: 45px;
    
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    
    
  }
  
  #darkMode:hover,
  #darkMode:focus {
   
  
    cursor: pointer;

    
  }
  
  
  

  
  

  
  

  
