

  .myDiagramDiv {   
    /* background-color: #d9dedf; */
    width: 100%;
    height: 95vh;
    position: absolute;
    border-radius: 5px;
    border:dashed;
    z-index:2;
    margin-left: -275px;
    margin-top:-10px;
    
  } 
  
  .myPaletteDiv {
      width: 280px;
      height: 100px;
      background: white;
      
  }

  body.dark .myPaletteDiv{
    background:#39395f ;
  }

  .myInspector {
    width: 250px;
   height: 100px;
    vertical-align: top;
    border: 4px solid #BBB;
    border-radius: 4px;
    background-color: #F5F5F5;
    position: fixed;
    top: 20px;
    left: 20px;
    display:none
    /* z-index: 500; */
  }

  .handle {
    background-color: lightblue;
    cursor: move;
    text-align: center;
    font: bold 12px sans-serif;
  }

  #infoDraggable {
    font: 12px helvetica, sans-serif;
    min-width: 213px;
  }

  .myInfo {
    width: 100%;
    overflow: hidden;
  }

  /*
One simple way of making a div fill its space,
with allowances for the title (top) and the resize handle (bottom)
*/
  /* #paletteContainer {
    position: absolute;
    bottom: 14px;
    left: 0px;
    right: 0px;
    top: 14px;
  } */
  .container {
    width: 100%;
    
    display: flex;
    
  }

  
 