
  .myDiagramDiv {   
    background-color: #d9dedf;
    width: 2000px;
    height: 100vh;
    margin: 5px;
  }   
  .myPaletteDiv {
      width: 250px;
      height: 100px;
      background: #bbecf8
  }

  
 