
  .myDiagramDiv {   
    background-color: #d9dedf;
    width: 1000px;
    height: 100vh;
    margin: 5px;
    border-radius: 5px;
  }   
  .myPaletteDiv {
      width: 250px;
      height: 100px;
      background: #bbecf8;
      
      
  }

  
 