.modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  .menu {
    width: 200px;
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
    background: black;
  }
  .menu-item {
    cursor: pointer;
    padding: 10px;
    height: 28px;
    border-bottom: 1px solid rgb(187, 187, 187);
  }
  .menu-item:hover {
    color: white;
  }
  .popup-content {
    margin: 0 0 0 0;
    background: black;
    width: auto;
    padding: 5px;
  }
  /* .popup-arrow {
    color: black
  } */
  /* [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  } */
  
  /* .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  } */

  .test{
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    color: white;
    
  }